.page-title {
  text-align: center;
}
.form-item {
  max-width: 55px;
  font-size: 12px;
}
.form-number {
  height: 30px;
  padding: 3px !important;
}
table {
  caption {
    width: 75px;
    margin: 0 auto 7px;
    padding: 3px 4px;
    border: 1px solid black;
    background-color: #ededed;
    font-size: 14px;
  }
}
tbody tr td {
  padding: 3px;
}
